 /* ----------------------------------------------------------------
	Canvas: Podcasts
-----------------------------------------------------------------*/

:root {
	--cnvs-themecolor: #436E67;
	--cnvs-themecolor-rgb: 67, 110, 103;

	--cnvs-body-font: tenon, sans-serif;
	--cnvs-primary-font: tenon, sans-serif;
}

.font-secondary {
	font-family: 'abril-display' !important;
}

.h-bg-tranparent:hover {
	background: transparent !important;
}

/* Button Style-2 */
.button.style-2 {
	--cnvs-btn-padding-x: 0;
	--cnvs-btn2-padding-x: 0.75rem;
	--cnvs-btn2-width: 2.625rem;
	--cnvs-btn2-radius: 10rem;
	--cnvs-btn2-border: 3px;
	--cnvs-btn2-border-color: var(--cnvs-themecolor);
	--cnvs-btn2-transition-speed: .2s;
	--cnvs-btn2-icon-move: -2px;

	border-radius: var(--cnvs-btn2-radius);
	border: var(--cnvs-btn2-border) solid var(--cnvs-btn2-border-color);
}

.button.button-small.style-2 {
	--cnvs-btn2-border: 2.5px;
	--cnvs-btn2-width: 2.25rem;
	--cnvs-btn-padding-y: 0.45rem;
}

.button.button-large.style-2 {
	--cnvs-btn2-width: 3rem;
}

.button.button-xlarge.style-2 {
	--cnvs-btn2-border: 4px;
	--cnvs-btn2-width: 3.5rem;
}

.button.style-2 span {
	position: relative;
	display: inline-block;
	padding-right: var(--cnvs-btn2-padding-x);
	padding-left: calc(var(--cnvs-btn2-width) - var(--cnvs-btn2-padding-x) - 1px);
	z-index: 1;
	transition: color var(--cnvs-btn2-transition-speed) ease;
}

.button.style-2 i {
	color: #000;
	width: var(--cnvs-btn2-width);
	height: 100%;
	margin: 0;
	z-index: 1;
	transition: transform var(--cnvs-btn2-transition-speed) ease;
}

.button.style-2::after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	background-color: #FFF;
	color: #000;
	width: var(--cnvs-btn2-width);
	height: 100%;
	/* transform: translateY(-50%); */
	text-align: center;
	border-radius: var(--cnvs-btn2-radius);
	transition: width var(--cnvs-btn2-transition-speed) ease,
		height var(--cnvs-btn2-transition-speed) ease;
	will-change: width, height;
}

.button.style-2.icon-pos-left span {
	padding-left: var(--cnvs-btn2-padding-x);
	padding-right: calc(var(--cnvs-btn2-width) - var(--cnvs-btn2-padding-x) - 5px);
}

.button.style-2.icon-pos-left::after {
	left: 0;
	right: auto;
}

.button.style-2:hover::after {
	width: 100%;
}

.button.style-2:hover i {
	transform: translateX(var(--cnvs-btn2-icon-move));
}

.button.style-2:hover span {
	color: #000;
}

.input-seacrh-section {
	border: 1px solid var(--bs-gray-300);
	border-radius: 50rem;
	overflow: hidden;
}

.input-seacrh-section.input-group:not(.has-validation)> :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu),
.input-seacrh-section.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3) {
	border-radius: 50rem;
	margin: 0;
	border: 0;
	padding-left: 20px;
	line-height: 1;
}

.input-seacrh-section.input-group .input-group-text {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 54px;
	height: 54px;
	padding: 0;
	transform: scale(0.8);
	border-radius: 50% !important;
	border: 0;
}

.form-control::-moz-placeholder {
	color: #999;
	font-size: 80%;
	opacity: 1;
}

.form-control::placeholder {
	color: #999;
	font-size: 80%;
	opacity: 1;
}

.link-underline,
.link-underline-hover:hover {
	text-decoration: underline !important;
}

.hero-img {
	opacity: .1;
}

.audio-logos {
	--icon-size: 42px;
	width: var(--icon-size);
	height: var(--icon-size);
	line-height: calc(var(--icon-size) - 2px);
	text-align: center;
	border: 1px solid #EEE;
	background-color: #FFF;
	border-radius: 50%;
}

.audio-logos img,
.audio-logos i {
	width: calc(var(--icon-size) / 2);
	height: calc(var(--icon-size) / 2);
}


.swiper-pagination {
	bottom: -50px !important;
}

.swiper-pagination span {
	position: relative;
	width: auto;
	height: auto;
	margin: 0;
	opacity: 1;
	border: 0;
	color: var(--bs-gray-500);
	transition: all .3s ease;
}

.swiper-pagination span::after {
	content: "";
	display: inline-block;
	position: relative;
	width: 0px;
	height: 2px;
	vertical-align: 4px;
	margin: 0 7px;
	background-color: var(--bs-gray-900);
	transition: all .3s ease;
}

.swiper-pagination span.swiper-pagination-bullet-active,
.swiper-pagination span:hover {
	color: #111;
}

.swiper-pagination span.swiper-pagination-bullet-active::after {
	width: 25px;
	margin: 0 15px;
}


.promo-thumb-bg {
	--promo-thumb-pos-top: 0%;
	--promo-thumb-pos-right: 10%;
	--promo-thumb-pos-size: 86px;
	position: absolute;
	left: auto;
	right: var(--promo-thumb-pos-right);
	top: var(--promo-thumb-pos-top);
	width: var(--promo-thumb-pos-size);
	height: var(--promo-thumb-pos-size);
	background-size: 100%;
	border-radius: 50%;
	background-position: center center;
	border: 2px solid #EEE;
}

.promo-thumb-bg-2 {
	--promo-thumb-pos-right: 10%;
}

.promo-thumb-bg-3 {
	--promo-thumb-pos-right: 20%;
}

.promo-thumb-bg-4 {
	--promo-thumb-pos-right: 30%;
}

.promo-thumb-bg-5 {
	--promo-thumb-pos-right: 40%;
}

.promo-thumb-bg-6 {
	--promo-thumb-pos-right: 50%;
}

.promo-thumb-bg-7 {
	--promo-thumb-pos-right: 60%;
}

.promo-thumb-bg-8 {
	--promo-thumb-pos-right: 70%;
}

@media (min-width: 768px) {

	.promo-thumb-bg {
		margin-right: var(--bs-gutter-x);
	}

	.promo-thumb-bg-1 {
		--promo-thumb-pos-size: 70px;
	}

	.promo-thumb-bg-2 {
		--promo-thumb-pos-top: 25%;
		--promo-thumb-pos-right: 15%;
	}

	.promo-thumb-bg-3 {
		--promo-thumb-pos-top: 60%;
		--promo-thumb-pos-right: 0%;
		--promo-thumb-pos-size: 60px;
	}

	.promo-thumb-bg-4 {
		--promo-thumb-pos-top: 70%;
		--promo-thumb-pos-right: 20%;
		--promo-thumb-pos-size: 96px;
	}

	.promo-thumb-bg-5 {
		--promo-thumb-pos-top: 0%;
		--promo-thumb-pos-right: 40%;
		--promo-thumb-pos-size: 96px;
	}

	.promo-thumb-bg-6 {
		--promo-thumb-pos-top: 45%;
		--promo-thumb-pos-right: 46%;
		--promo-thumb-pos-size: 105px;
	}

	.promo-thumb-bg-7 {
		--promo-thumb-pos-top: 17%;
		--promo-thumb-pos-right: 70%;
		--promo-thumb-pos-size: 75px;
	}

	.promo-thumb-bg-8 {
		--promo-thumb-pos-top: 80%;
		--promo-thumb-pos-right: 75%;
		--promo-thumb-pos-size: 75px;
	}
}

/* Upper 992px Devices */
@media (min-width: 992px) {

	.hero-img {
		opacity: 1;
	}

	.h-auto .swiper-wrapper,
	.min-vh-0 .swiper-wrapper {
		height: auto;
	}

	.section-podcasts .swiper-slide {
		transform: scale(1.05);
		transition: transform .3s ease;
		transform-origin: bottom center;
	}

	.section-podcasts .swiper-slide.swiper-slide-next,
	.section-podcasts .swiper-slide.swiper-slide-next+.swiper-slide {
		transform: scale(1);
		transform-origin: bottom center;
	}
}
